style.
	#qamar_cont{
		position:fixed;
		top:0;
		left:0;
		width:100%;
		height:100%;
		background:rgba(255,255,255,.95);
		z-index:50000;
	}
	#__log{
		width: 400px;
		height: 100%;
		background: #444;
		padding:10px;
		float:right;
	}
	#__log h6{
		color:#c0c0c0;
	}
	#_menu{
		padding: 10px 10px 10px 0px;
		margin-top:20px;
	}
	#_menu span{
		display:inline-block;
		padding:10px;
		background: #f0f0f0;
		font-size: 20px;
		cursor:pointer;
	}
	#_menu span.active{
		background:rgb(255, 127, 80);		
	}
	._block_user{
		display:inline-block;
		padding:3px;
		background: #f0f0f0;
		margin-right:5px;	
		margin-bottom:5px;	
	}
section#qamar_cont
	section#__log
	section.Appcontent.wrapper.wrapper-home
		section
			h1 Qamar v0.3
			section#_menu
				span(data-type='block list') Block List 
				span(data-type='mass tweet') Mass Tweet
				span(data-type='mass follow') Mass Follow
			section#_contents
